<h1>Edit board</h1>

<form id="edit-board" name="board">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>
  
  <div id="canvas"></div>
  
  <div class="actions">
    <input type="submit" value="Update Board" />
  </div>

</form>

<a href="#/index">Back</a>