<h1>New board</h1>

<form id="new-board" name="board">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Board" />
  </div>

</form>

<a href="#/index">Back</a>