<p>
  <b>Name:</b>
  <%= name %>
</p>
<input type="file" id="file"/>
<button id="zoomIn">Zoom In</button>
<button id="zoomOut">Zoom Out</button>
<button id="moveLeft">Move Left</button>
<button id="moveRight">Move Right</button>
<button id="moveUp">Move Up</button>
<button id="moveDown">Move Down</button>

<div class="panel">
</div>


<a href="#/index">Back</a>