<div id="boards"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Pcb.Routers.BoardsRouter({boards: <%= @boards.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>